:root {
    --background: rgba(85, 214, 170, 0.85)
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    font-weight: 400;
}




.content {
    background-blend-mode: multiply;
    background-size: cover;
    /* display: grid; */
    /* place-items: center; */
    color: azure;
    padding-top: 82px;
}

/* NAVIGATION STYLES GOES HERE */


header {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    color:aliceblue;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top:0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: rgb(12, 157, 201);
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo {
        grid-column: 2 / 3;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: rgb(12, 157, 201);
        position: absolute;
        top: 2.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

/* PAGE LAYOUTS START HERE */

.firstblock {
    display: block;
    align-items: center;
    padding: 2% 10%;
}

.imageleft {
    margin: 0;
    padding: 0;
    text-align: center;
}

.loungeimg img {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(96, 99, 98, 0.8);
}

.blocktxtright {
    margin: 10px 0;
    padding: 0 10%;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.headingright {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    padding: 10px 0;
}

.descright {
    font-family: 'Tahoma', sans-serif;
    font-size: 20px;
    line-height: 1.225;
}

@media screen and (min-width: 1040px) {
    .firstblock {
        display: flex;
    }
    .imageleft {
        flex: 1;
    }
    .blocktxtright {
        flex: 2;
        padding: 0 15%;
    }
}